
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body{
    background-color: white;
    
}

#container{
    width: 1000px;
    height: 560px;
    background-color: silver;
    margin: auto;
    position: relative;
}

#header{
    width: 960px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 14px;
    left: 15px;
}

#nav_bar{
    width: 180px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 182px;
    left: 15px;
}

#main_content{
    width: 760px;
    height: 350px;
    background-color: yellow;
    position: absolute;
    top: 182px;
    left: 215px;

}

.subcontent{
    width: 200px;
    height: 200px;
    background-color: purple;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    
}

#advertisements{
    width: 670px;
    height: 90px;
    background-color: pink;
    margin-top: 15px;
    position: absolute;
    left: 15px;
}
