body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    text-align: center;
}


.logo {
    margin: 0 auto;
    margin-top: 20px;
}


.search-box {
    background: #eeeeee;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
}

.search-box input {
    width: 300px;
}

.buttons {
    margin-top: 10px;
}

.links {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.box {
    padding: 10px;
    font-size: 14px;
}

.box1 {
    width: 37%;
    background: #7ee5da;
    margin: 5px;
}

.box2 {
    width: 26%;
    background: #70ccc2;
    margin: 5px;
}


.box3 {
    width: 37%;
    background: #62b3aa;
    margin: 5px;
}

.box a {
    display: inline-block;
    margin: 2px 0;
}

.footer {
    margin-top: 20px;
    font-size: 13px;
}
