body {
    background: white;
    font-family: Times, "Times New Roman", serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: blue;
    text-decoration: underline;
    display: block;
    margin: 2px 0;
}

.page {
    width: 1000px;
    height: 500px;
    margin: 10px auto;
    background: rgb(243, 241, 241);
    padding: 10px;
}

.topbar {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    color: blue;
    font-size: 28px;
    font-weight: bold;
    align-items: left;
    text-align: center;
}

.city {
    font-size: 26px;
    font-weight: bold;
    background-color: lightgray;
    height: 40px;
    width: 300px;
    text-align: center;

}

.top-controls {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
}

.content {
    display: block;
}

.sidebar {
    width: 160px;
    height: 400px;
    display: inline-block;
    background: rgb(235, 232, 232);
    padding: 8px;
}

.right,
.lift {
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
}

.search {
    border: 1px solid #cccccc;
    background: lightgray;
    padding: 5px;
    margin: 10px 0;
}

.search-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.search input {
    width: 130px;
    border: 3px solid rgb(247, 242, 242);
    margin-bottom: 10px;
}

.search select {
    display: block;
}

.side-link {
    text-align: center;
}

.side-link a {
    font-size: 16px;
    font-weight: bold;
}

.email a {
    margin-top: 20px;
    font-weight: normal;
}

.updated {
    margin: 20px;
    font-size: 12px;
}

.lists {
    width: 780px;
    display: inline-block;
    vertical-align: top;
}

.col {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.section {
    margin-bottom: 10px;
}

.section-title {
    background: #dddddd;
    padding: 3px;
    font-weight: bold;
}

.section a {
    background-color: white;
}

.col .resumes {
    margin-top: 20px;
}

.col .activity a {
    background-color: white;
}

.strong {
    font-weight: bold;
    margin-top: 8px;
}